---
import BaseLayout from "../../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../posts/*.md");

// 创建一个对象来保存每个标签及其对应的文章数量
const tagCounts = {};

allPosts.forEach((post) => {
  post.frontmatter.tags.forEach((tag) => {
    if (tagCounts[tag]) {
      tagCounts[tag] += 1; // 如果标签已存在，增加计数
    } else {
      tagCounts[tag] = 1; // 如果标签不存在，初始化计数
    }
  });
});

// 将对象转换为包含标签和数量的数组
const tagsWithCounts = Object.keys(tagCounts).map((tag) => ({
  name: tag,
  count: tagCounts[tag],
}));

const title = "分類";
---

<BaseLayout title={title}>
  <div class="categories">
    <h1>分類</h1>
    <hr />
    <div class="tags">
      {
        tagsWithCounts.map((tag) => (
          <p class="tag">
            <a href={`/tags/${tag.name}`}>
              {tag.name} ({tag.count})
            </a>
          </p>
        ))
      }
    </div>
  </div>
</BaseLayout>

<style>
  .categories {
    padding: 35px;
  }

  h1 {
    margin-bottom: 20px;
  }

  .tags {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .tags .tag {
    margin: 10px 10px 10px 0px;
  }

  .tag {
    border: 1px solid #6c757d;
    padding: 10px;
    border-radius: 50rem;
  }

  .tag:hover {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  .tag a {
    text-decoration: none;
    text-transform: capitalize;
  }
</style>
