---

---

<footer>
  <div class="footer-acknowledge">
    UI借鑒於<a href="https://risehere.net/">Rose's Blog</a>，
    <br />
     博客由<a href="https://astro.build/">Astro</a>框架構建。
  </div>

  <div class="footer-license">
    <a href="https://ningli.me/">&copy;Ning 2023，</a>
    <br /><a href="https://creativecommons.org/licenses/by-nc/4.0/"
      >本站遵循 CC-BY-NC 4.0 协议。</a
    >
  </div>
</footer>

<style>
  footer {
    display: grid;
    padding: 140px 35px 0 35px;
    font-family: "Noto Serif TC", serif;
  }

  .footer-acknowledge,
  .footer-license {
    text-align: right;
    font-size: 14px;
  }
</style>
