---

---

<div class="side-navbar">
  <div class="nav-title">
    <a href="/">
      <h1>織夢者筆記</h1>
      <h3>Ning's Blog</h3>
    </a>
  </div>

  <div class="nav-items">
    <a href="/archive">歸檔 Archive</a>
    <a href="/tags">分類 Categories</a>
    <a href="/resource">資源 Resources</a>
    <a href="/about">關於 About</a>
    <a href="/index.xml">訂閱 RSS</a>
  </div>
</div>

<style>
  .side-navbar {
    display: grid;
    text-align: right;
    margin: 35px 0 35px 0;
  }

  .nav-title {
    padding: 35px;
    margin-bottom: 40px;
    background-color: rgba(25, 118, 210, 0.03);
    border-right: 2px solid #1976d2;
  }

  .nav-title h1 {
    font-size: 30px;
    line-height: 40px;
  }

  .nav-items {
    display: grid;
  }

  .nav-items a {
    padding: 20px 35px 20px 35px;
    font-size: 20px;
  }

  .nav-items a:hover {
    display: grid;
    background-color: rgba(25, 118, 210, 0.03);
  }
</style>
