---
const { prevUrl, nextUrl, page } = Astro.props;

function getPageNumber(url) {
  const match = url.match(/\/page\/(\d+)\//);
  return match ? parseInt(match[1]) : 1;
}

const currentPage = page ? getPageNumber(page.url) : 1;
const prevPage = prevUrl ? getPageNumber(prevUrl) : 1;
const nextPage = nextUrl ? getPageNumber(nextUrl) : 1;
---

<nav class="pagination">
  {
    prevUrl && (
      <a
        href={prevUrl}
        class={`pagination-link ${currentPage === prevPage ? "active" : ""}`}
      >
        上一页
      </a>
    )
  }

  {
    nextUrl && (
      <a
        href={nextUrl}
        class={`pagination-link ${currentPage === nextPage ? "active" : ""}`}
      >
        下一页
      </a>
    )
  }
</nav>

<style>
  .pagination {
    display: flex;
    justify-content: center;
    margin: 35px 0;
  }

  .pagination-link {
    margin: 0 10px;
    text-decoration: none;
  }

  .pagination-link.active {
    text-decoration: underline;
  }
</style>
