---
const { prevUrl, nextUrl, page } = Astro.props;

function getPageNumber(url) {
  const match = url.match(/\/page\/(\d+)\//);
  return match ? parseInt(match[1]) : 1;
}

const currentPage = page ? getPageNumber(page.url) : 1;
const prevPage = prevUrl ? getPageNumber(prevUrl) : 1;
const nextPage = nextUrl ? getPageNumber(nextUrl) : 1;
---

<nav class="pagination">
  {
    prevUrl && (
      <a
        href={prevUrl}
        class={`pagination-link ${currentPage === prevPage ? "active" : ""}`}
      >
        <span class="material-symbols-outlined" id="left">
          chevron_left
        </span>
      </a>
    )
  }

  {
    nextUrl && (
      <a
        href={nextUrl}
        class={`pagination-link ${currentPage === nextPage ? "active" : ""}`}
      >
        <span class="material-symbols-outlined">chevron_right</span>
      </a>
    )
  }
</nav>

<style>
  .pagination {
    display: grid;
    margin: 35px 0;
  }

  .pagination-link {
    display: grid;
    justify-content: space-between;
    text-decoration: none;
  }
  .material-symbols-outlined {
    display: grid;
    align-items: center;
  }

  #left {
    margin-bottom: 20px;
  }
</style>
